asgiref==3.6.0
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
idna==3.10
psycopg2-binary==2.9.3
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0  # Optional, remove if not used
typing_extensions==4.12.2
tzdata==2025.2  # Optional, remove if not required for time zone data
urllib3==2.3.0
setuptools>=58.0.0
wheel
pip>=22.0.0




